name: Release

on:
  push:
    tags:
      - 'v*' # Trigger on tags like v1.0, v2.3.4

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      run: cmd /c build.bat

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          bin/ByteSplice.exe
          bin/ByteSplice_Portable.bat
        generate_release_notes: true
        prerelease: ${{ contains(github.ref_name, '-') }}
